.base {
  margin: 10px auto 10px auto;
  width: 100%;
  max-width: 300px;
}
.placeBase {
  width: 100%;
}
.formBase {
  display: flex;
  justify-content: space-between;
}
.inputBase {
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 2%;
  
}